* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: whitesmoke;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(135deg, #6953f7, #cd4ff7);

    .container-box {
        a {
            text-decoration: none;
        }

        background-color: #302D43;
        border-radius: 40px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
        padding: 20px;
        height: 70vh;
        width: 290px;
    }

}

.form-container {
    width: 100%;
    padding: 30px 15px;
    border-radius: 20px;


    form {
        .input_box {
            text-align: center;
            margin-bottom: 25px;
            position: relative;


            input {
                padding: 10px 0px;
                border-radius: 25px;
                outline: none;
                border: 2px solid black;
                width: 100%;
                color: black;

            }

            [type="number"]::-webkit-outer-spin-button,
            ::-webkit-inner-spin-button,
            :focus+label {
                -webkit-appearance: none;
                margin: 0;

            }


            :focus+label {
                top: -16px;
                color: black;
                transition: all 0.5s cubic-bezier(0.60, 4.00, 0.255, 1.55);
            }

            label {
                position: absolute;
                left: 8px;
                font-size: 20px;
                padding: 6px 10px;
                pointer-events: none;
                transition: 0.3s;
                color: black;
            }
        }

        button {
            width: 100%;
            font-size: 20px;
            border: none;
            padding: 10px 15px;
            border-radius: 200px;
            cursor: pointer;
            background-image: linear-gradient(135deg, #6953f7, #cd4ff7);
            box-shadow: 0px 10px 30px -10px rgb(150 50 255);
            transition: 0.3s;
        }

        .signup_link,
        .contact_link {
            font-size: 16px;
            margin-top: 20px;
            text-align: center;
            text-decoration: none;

            >span {
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}

.selected {
    margin-bottom: 0px;
    position: relative;
}

.scroll-container {
    max-height: 200px;
    overflow-y: auto;
    scrollbar-width: none;
}

#categories-item:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transform: scale(1.05);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

/* Error mssg styling */
.Toastify__toast--success {
    background-image: linear-gradient(315deg, #6953f7, #cd4ff7) !important;
    color: white;
}

.Toastify__toast--error {
    background-image: linear-gradient(315deg, #6953f7, #cd4ff7) !important;
    color: white;
}

.Toastify__toast--info {
    background-image: linear-gradient(315deg, #6953f7, #cd4ff7) !important;
    color: white;
}

.Toastify__toast--warning {
    background-image: linear-gradient(315deg, #6953f7, #cd4ff7) !important;
    color: white;
}