* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: whitesmoke;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(135deg, #6953f7, #cd4ff7);
}
#container .container-box {
  background-color: #302d43;
  border-radius: 40px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  padding: 20px;
  width: 290px;
}
#container .container-box a {
  text-decoration: none;
}
#container .container-box .transaction-container {
  margin: 8px;
}
#container .container-box .transaction-container .form-container h3 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 20px;
}
#container .container-box .transaction-container .input-container {
  border: 1px solid salmon;
}
#container .container-box .transaction-container .input-container > h3 {
  text-align: center;
}
#container .container-box .transaction-container .input-container #categories-item > input {
  border-radius: 50px;
  height: 30px;
  width: 250px;
}
#container .container-box .transaction-container .input-container #categories-item:first-child > input {
  border-radius: 100px;
}
#container .container-box .transaction-container > :not(h3) {
  font-size: small;
  text-decoration: none;
}
#container .container-box .save-btn {
  display: flex;
  justify-content: center;
  background: red;
  background-image: linear-gradient(to right, #cd4ff7, #6953f7);
  border-radius: 10px;
  padding: 5px 10px;
}
#container .container-box #card {
  height: 222px;
}
#container .container-box .box .card {
  position: relative;
  background: rgba(255, 255, 255, 0.08);
  width: 250px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  z-index: 1;
  height: 147px;
  overflow: hidden;
}
#container .container-box .box .card1 {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(to right, #cd4ff7, #6953f7);
  z-index: 1;
  transform: rotate(353deg);
  top: 36px;
  left: 5px;
  width: 90%;
  filter: blur(1px);
}
#container .container-box .box .card2 {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 0 0 3000px rgba(150, 150, 150, 0.192);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  margin-bottom: 0;
  z-index: 2;
  bottom: 98px;
}
#container .container-box .box .card2 .balance-card {
  padding: 20px 0 0 18px;
}
#container .container-box .box .card2 .balance-card .income-expense {
  display: flex;
  justify-content: space-around;
  margin: 20px 0 0 -32px;
}
#container .container-box .box .card1,
#container .container-box .box .card2:hover {
  cursor: pointer;
}
#container .container-box #categories .transaction-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}
#container .container-box #categories .transaction-container > :not(h3) {
  font-size: small;
  text-decoration: none;
}
#container .container-box #categories .scroll-container {
  max-height: 200px;
  overflow-y: auto;
  scrollbar-width: none;
}
#container .container-box #categories .scroll-container #categories-item {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
  padding: 5px 10px;
}
#container .container-box #categories .scroll-container #categories-item > img,
#container .container-box #categories .scroll-container #categories-item h6 {
  display: inline-block;
  max-width: 50%;
}
#container .container-box #categories .scroll-container :hover {
  background-color: rgba(255, 255, 255, 0.3);
  transform: scale(1.05);
  transition: transform 0.3s ease, background-color 0.3s ease;
}
#container .container-box #categories::-webkit-scrollbar {
  display: none;
}
#container .container-box #user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}
#container .container-box .settings-icon {
  height: 30px;
  width: 30px;
  cursor: pointer;
  position: relative;
  transition: transform 0.2s ease;
}
#container .container-box .settings-icon::after {
  content: "Settings";
  position: absolute;
  visibility: hidden;
  opacity: 0;
  background-color: #333;
  color: red;
  border-radius: 3px;
  padding: 5px;
  font-size: 12px;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
#container .container-box .settings-icon:hover::after {
  visibility: visible;
  opacity: 1;
}
#container .container-box .add-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: normal;
  bottom: 15px;
}
#container .container-box .add-btn > img:hover {
  transform: scale(1.3);
  transition: transform 0.5s;
  cursor: pointer;
}
#container .container-box .card-transaction {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid grey;
}
#container .container-box .card-transaction .button {
  padding: 10px;
  cursor: pointer;
  font-weight: 300;
  color: whitesmoke;
  transition: background-color 0.3s ease;
  font-size: 25px;
}
#container .container-box .card-transaction .button.selected {
  border-bottom: 1px solid #cd4ff7;
  color: #cd4ff7;
}
#container .container-box #categories-item {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
  padding: 5px 10px;
}

.scroll-container {
  max-height: 200px;
  overflow-y: auto;
  scrollbar-width: none;
}

.pie-chart {
  max-height: 200px;
  max-width: 250px;
  margin: 10px 0 45px 0;
}
.pie-chart .info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.pie-chart canvas {
  display: block;
  width: 100% !important;
  margin-top: 20px;
}

.form-container {
  width: 100%;
  padding: 30px 15px;
  border-radius: 20px;
}
.form-container form .input_box {
  text-align: center;
  margin-bottom: 25px;
  position: relative;
}
.form-container form .input_box input {
  padding: 10px 0px;
  border-radius: 25px;
  outline: none;
  border: 2px solid black;
  width: 100%;
  color: black;
}
.form-container form .input_box [type=number]::-webkit-outer-spin-button,
.form-container form .input_box ::-webkit-inner-spin-button,
.form-container form .input_box :focus + label {
  -webkit-appearance: none;
  margin: 0;
}
.form-container form .input_box :focus + label {
  top: -16px;
  color: black;
  transition: all 0.5s cubic-bezier(0.6, 4, 0.255, 1.55);
}
.form-container form .input_box label {
  position: absolute;
  left: 8px;
  font-size: 20px;
  padding: 6px 10px;
  pointer-events: none;
  transition: 0.3s;
  color: black;
}
.form-container form button {
  width: 100%;
  font-size: 20px;
  border: none;
  padding: 10px 15px;
  border-radius: 200px;
  cursor: pointer;
  background-image: linear-gradient(135deg, #6953f7, #cd4ff7);
  box-shadow: 0px 10px 30px -10px rgb(150, 50, 255);
  transition: 0.3s;
}
.form-container form .signup_link,
.form-container form .contact_link {
  font-size: 16px;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
}
.form-container form .signup_link > span,
.form-container form .contact_link > span {
  text-decoration: underline;
  cursor: pointer;
}

.selected {
  margin-bottom: 0px;
  position: relative;
}

.scroll-container {
  max-height: 200px;
  overflow-y: auto;
  scrollbar-width: none;
}

#categories-item:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transform: scale(1.05);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.no-data {
  padding: 1rem;
  color: #777;
  text-align: center;
  font-style: italic;
}

/* Error mssg styling */
.Toastify__toast--success {
  background-image: linear-gradient(315deg, #6953f7, #cd4ff7) !important;
  color: white;
}

.Toastify__toast--error {
  background-image: linear-gradient(315deg, #6953f7, #cd4ff7) !important;
  color: white;
}

.Toastify__toast--info {
  background-image: linear-gradient(315deg, #6953f7, #cd4ff7) !important;
  color: white;
}

.Toastify__toast--warning {
  background-image: linear-gradient(315deg, #6953f7, #cd4ff7) !important;
  color: white;
}

/*# sourceMappingURL=style.css.map */
